



#viewport{
    >section,
    >article,
    >header
    {
        // position: relative;
        z-index: 10;
    }
}


.svg-clipped {
    clip-path: url(#svgPath);
    -webkit-clip-path: url(#svgPath);
}












.nwg-slick{
    padding:50px;
    margin:0;
    background:black;
}


.myslickarrow-prev{
    // border:1px solid red;
    position:absolute;
    left:0px;
    top:50%;
    transform:translateY(-50%);

    color:$nwg-lightblue;
    &:hover{
        // color:$nwg-lightblue;
        color:$nwg-highlight;
    }
    z-index:99;
}

.myslickarrow-next{
    // border:1px solid red;
    position:absolute;
    right:0px;
    top:50%;
    transform:translateY(-50%);

    color:$nwg-lightblue;
    &:hover{
        // color:$nwg-lightblue;
        color:$nwg-highlight;
    }
    z-index:99;
}













.social-media-icons {

    list-style: none;
    margin:0;
    padding:0;


    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:nowrap;

    flex:1 1 auto;

    font-size:1.2rem;

    a{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        text-decoration:none;
        margin:0 0.25rem;
        padding:0;

        color:white;
        background-color:transparent;
        border:2px solid white;

        &:hover, &:focus {
            background-color: transparent;
            color:$nwg-highlight;
            border:2px solid transparent;
        }
    }
}







footer{
    .logoholder{
        margin-bottom:0;
    }
    .partners{
        padding-top:0;
    }
}

.logoholder{
    margin:1em 0.2em;

    .footer-inner & {
        margin-bottom:0;
    }

    &.showme{
        // visibility:visible;
        // display:block;
        opacity:1;
    }



    img{
        width:150px;
        height:auto;
        position: relative;
        display:block;
                                                                // margin:10px 0;
        // margin:auto;
    }

    transition:0.2s;

}





.partners{
    $color:#444;
    padding:1em 0;;
    background:black;

    width:100%;
    display:block;
    border-bottom:1px solid $color;

    h4{
        color:$color;
        width:100%;

        display:flex;
        align-content:center;
        align-items:center;
        flex-direction: row;


        &:before {
            content: " ";
            border-bottom:1px solid $color;
            margin-right:0.5em;
            flex:1 1 1px;
        }

        &:after {
            content: " ";
            border-bottom:1px solid $color;
            margin-left:0.5em;
            flex:1 1 1px;
        }
    }
}


.partners-list{
}


.partners-group{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: center;

    list-style-type:none;
    margin:0;padding:0;

    li{
        margin:0;padding:0;
    }

    flex-wrap:wrap;
    width:100%;

    margin:2em auto 1em;

    // img{
    //     flex: 0 0 50%;
    //     width: 95%;
    //     height: auto;
    // }
    //
    //
    // .partner-logo {
    //     // SPECIFICLY SET THE ORDER TO THE NATURAL SEQUENIAL ORDER
    //     @for $i from 1 through 9 {
    //         &:nth-child(#{$i}) {
    //             order:$i;
    //         }
    //     }
    // }
}
