


.sectionNWG ~ .quoteNWG{
    padding:5% 5% 15% 5%;
    margin-bottom: -14%;
}

.quoteNWG{
    padding:3em 0;
    position: relative;
    width:100%;
    overflow: hidden;


    &.bg-splats:before{
            content:'';
            position: absolute;
            top:0; left:0; bottom:0; right:0;
            width:100%; height:100%;
            background: $nwg-darkblue;

            // background-image:url('img-homepage/hp-header-bg-LG.jpg');
            background-image:url('img/bg-blue-splat-r2.jpg');
            background-position:center center;
            background-size:cover;
            // background-attachment: fixed;

            // opacity:0.5;
            z-index: 0;

    }

    &.bg-arena:before{
            content:'';
            position: absolute;
            top:0; left:0; bottom:0; right:0;
            width:100%; height:100%;
            background: $nwg-darkblue;
            background-image: url('img/testimonials/testimonials-bg-arena.jpg');
            background-size:cover;
            background-position:50% 50%;
            // background-attachment: fixed;
            // background-blend-mode: screen;
            // opacity:0.5;
            z-index: 0;
    }

    background-color:$nwg-darkblue;

    // background-image: linear-gradient(to right, $nwg-darkblue 80%, $nwg-darkblue 80%), url('img-homepage/hp-header-bg-LG.jpg');
    // background-blend-mode: overlay;




}



.quoteNWG__quote {
    font-size: 1.5rem;
    font-family: $font-header;
    text-transform: uppercase;
    text-align:center;
    // margin:0;
    // transform:skewY($nwg-skew);
    position: relative;
    max-width:1500px;
    margin:auto;
    // padding:2vw 5vw;
    padding:2rem 5rem;
    span{
        // background-color:$nwg-lightblue;
        // background-color:$nwg-black;
        // background-color:rgba(#8DC1F4, 0.8);
        left:-10%;
        display:inline-block;
        color: $nwg-lightblue;
        padding-top:5px;
        padding-bottom:5px;
    }
    span ~ span{
        // background-color:red;]
        top:-0.0em;
        left:10%;
    }

    .bg-splats & span {
        background-color:$nwg-black;
    }
    .bg-arena & span {
        background-color:$nwg-lightblue;
    }
    // @include breakpoing($sm){
        // font-size: 3vw;
    // }

}


.quoteNWG__by{
    position: relative;

    // position: absolute;
    // right:0;
    // bottom:0;
    // z-index: 2;
    // text-align: center;
    // margin:auto;


    // left:10%;
    // transform:translateY(-30%);
    // margin-bottom:-80px;
    // @include ptBreakpoint($sm){
    //     transform:translateY(-50%);
    //     left:60%;
    // }
    // @include ptBreakpoint($lg){
    //     transform:translateY(-60%);
    // }


display:block;
left:50%;
transform:translateX(-50%);
// border:1px solid red;
text-align:center;

    text-transform: uppercase;
    color:black;
    font-family: $font-header1;
    font-size:1.2rem;


    z-index: 5;

    >img{
        position: relative;
        bottom:0;
        right:0;
        border-radius:50%;
        width:100px;
        height:100px;
        object-fit: cover;
        // margin:1em;
    }


}
