

.css-clipp{
    // -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    // clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    //   transform:skewY(-5deg);
}


// .section-nwg{
//
//     z-index:5;
//
//     .section-header{
//         z-index:4;
//     }
//
//     .section-action{
//         z-index:3;
//     }
//
//     .section-info{
//         z-index:2;
//     }
//
//     .section-bg{
//         z-index:1;
//     }
//
// }








.quoteNWG~.sectionNWG{
    // border:10px solid gold;
    padding-top:7%;

}
.sectionNWG{
    position: relative;
    // height:60vw;
    height:auto;

    width:100%;
    z-index:5;
    overflow:hidden;
    // padding-top:5%;
    padding-bottom:5%;

    @include ptBreakpoint($nwg){
        min-height:600px;
        // height:80vh;
        // max-height:800px;
    }

    .btn.btn.btn{
        // padding:0;
        font-size:1rem;
    }
}


.sectionNWG__info,
.sectionNWG__content{
    position: relative;
    z-index:10;
    transform:skewY($nwg-skew);
    margin-top:5%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom:5%;
    // border:1px dotted gold;
    // padding-top:7%;
    text-align: left;

    .btn{
        font-size:1.4rem;
    }

    @include ptBreakpoint($md){
        // width:40%;
    }

    .flip-left &{
        text-align:right;
        // float:right;
    }
}


.sectionNWG__headline{
    pointer-events: none;
    position: relative;
    color:white;
    margin:0 0 0 0;

    font-size:8rem;
    line-height:0.7em;
    @include ptBreakpoint($nwg){
        font-size:10rem;
    }
}



.sectionNWG__articles{
    position: relative;
    // position: absolute;
    // right:5%;
    // bottom:20%;

    transform: skewY($nwg-skew);
    text-align: right;
    // left:50%;
    // top:50%;
    // transform:translate(0, -50%);
    z-index:5;


    // @include ptBreakpoint($nwg){
    //     position: absolute;
    //     right:1%;
    //     bottom:10%;
    // }
    @include ptBreakpoint($nwg){
// position: absolute;
// right:1%;
// bottom:10%;
        .flip-left &{
            right:initial;
            // left:0%;
            text-align:left;
        }
    }

    ul{
        list-style: none;
        margin:0; padding:0;
        // width:110%;
        li{
            display:inline-block;
            margin:0; padding:0;
            width:101%;
        }
    }
    a{
        // border:1px solid red;
        position: relative;
        // width:110%;
    }
    h3{
        display:inline-block;
        font-family:$font-header1;
        font-size:1.8rem;
        width:100%;
        margin:3px;
        span{
            display:inline-block;
            background-color:black;
            transition:0.2s;
        }
        a:hover, a:focus{
            span{
                background-color:$nwg-darkblue;
            }
        }
    }
    // h1,h2,h3,h4,h5,h6{
    // }
}







.sectionNWG__action{
    display:none;
    // border:1px solid red;
    // left:50%;
    // top:50%;
    transform:translate(-50%, -50%);

    // position: absolute;
    // width:50%;
    // top:20%;
    // right:1%;
    // .flip-left &{
    //     left:1%;
    // }

    pointer-events:none;
    z-index:2;


    img.action-person{
        // border:1px dotted green;
        width:100%;
        height:auto;
    }



    // @include ptBreakpoint($md){
    @include ptBreakpoint($nwg){
        // width:25%;
        position: absolute;
        display:block;
        top:70%;
        width:auto;
        left:20%;
        // left:5%;
        // right:initial;
        .flip-left &{
            left:80%;
            // left:initial;
            // left:initial;
            // text-align:left;
        }
    }


}










.sectionNWG__bg{
    position:absolute;
    top:0; left:0; bottom:0; right:0;
    width:100%; height:100%;
    z-index:1;


    transform:skewY(-5deg)  translateY(14%);
    overflow: hidden;


    video{
        // clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // z-index:1;
        // opacity:0.5;

        display:none;
        @include ptBreakpoint($md){
            display:block;
        }
    }

    &:after{
        content:'';
        position: absolute;
        top:0; left:0; bottom:0; right:0;
        width:100%; height:100%;
        background-color:$nwg-darkblue;
        opacity:0.5;
        z-index: 2;
    }
    background-color:black;
}



.sectionNWG__bgvideo{
    // clip-path: url(#svgPath);
    // -webkit-clip-path: url(#svgPath);
}



// .sectionNWG__bg{
//
//     background-image:url($img-url+'section-fmx-bg.jpg');
//     background-position: center;
//     background-size: cover;
//
//     clip-path: url(#svgPath);
//     -webkit-clip-path: url(#svgPath);
// }

// #clipPathContainer{
//     border:1px solid red;
// }
// #svgPath{
//     border:1px solid green;
// }
//
// // #svgPath{
// #clipPathContainer{
//     position: absolute;
//     top:0; left:0; bottom:0; right:0;
//     display:block;
//     width:100%;
//     height:100%;
// }

/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
