







.theme-article{

    .nwg-menu{
        background-color:rgba(0,0,0,0.8);
    }

}



.main-article{
    // .main contenbt wrapper
}







.module-articles-panel{
    background-color:white;
}





.article-header{
    // border:1px solid red;
    
    position: relative;
    background-color:black;



    display:flex;
    justify-content:flex-end;
    flex-direction:column;



    overflow:hidden;
    z-index:1;

    // margin-top:200px;

    .header-bg{
        // border:1px solid blue;
        position:relative;
        overflow:hidden;
        z-index:1;
        text-align: center;
        // max-height:500px;
       img{
            // position: absolute;
            // top:50%; 
            // transform:translateY(-50%);
            position: relative;
            width:100%;
            max-width:100%;
            height:auto;


        }

    }
    
    
    @include ptBreakpoint($nwg){
        // height:60vh;
        margin-top:0;

        .header-bg{
            height:600px;
            img{
                // width:initial;
                position: absolute;
                top:50%;
                left:50%; 
                transform:translate(-50%, -50%);
            }
        }
    }
}






.article-container{
    padding:0 1em;
    max-width:1000px;
    margin:auto;
    z-index:2;
    position: relative;
    top:-2em;

    img{
        margin:2em auto;
    }



    .article-headline{

        @include nwg-skew();

        font-size:2em;

        color:white;
     
        position: relative;
        width:auto;
        max-width:80%;
        margin-top:-1.5em;
        margin-bottom:2em;
        
       
        >span{ 
            padding:0 0.25em;
            // font-size:1em;
            line-height:1.2em;
            display:inline;
            // font-style:normal;
            background-color:rgba($nwg-darkblue, 0.8);
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        }

        
        @include ptBreakpoint($sm){
            font-size:3em;
        }
        @include ptBreakpoint($md){
            font-size:3.5em;
        }



    }


}















.nwg-gallery{
        
    .slider{
        .slick-track{
            display:flex;
        }

        margin-bottom:0;
        img{
            min-height:150px;
        }
    }

    .slider-nav-thumbnails{
        background-color:black;
        .slick-slide img{
            transition:0.2s;
            opacity:0.6;
            width:100%;
            height:auto;
            &:hover{
                opacity:1;
            }
        }
        .slick-slide.slick-current img{
            // border:3px solid black;
            opacity:1;
        }
    }

    figure{
        position: relative;
        height:100%;
        width:100%;
        display:flex;
        figcaption{
            position: absolute;
            width:100%;
            bottom:0; 
            left:0; 
            right:0;
            background-color:rgba(0,0,0,0.6);
            color:white;
            padding:1em;
        }
    }


    h2,h3,h4{
        margin-top:0;
        color:white;
    }

    img{
        width:100%;
        height:auto;
        margin:0 auto;
        padding:0;
    }





}
































































// .articles-holder{
//     position: relative;
//     // width: auto;
    
//     display: flex;
//     // justify-content: center;
//     flex-wrap: wrap;

//     flex-direction: column;
//     @include ptBreakpoint($sm){
//         flex-direction: row;    
//     }

// }


.tease-big .article-tease {

    .article-bg{
        height: 200px;
        width: 200px;
    }
    button{
        font-size:1.3rem;
    }
}





.article-tease,
.article-blurb {
    
    font-smoothing: antialiased;

    position: relative;
    border:0;
    margin:3em 5em; 
    // flex:1;
    display:inline-block;
    // width:100%;
    


    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        width:100%;

        transition:0.2s;

        transform: scale(1) translate3d( 0, 0, 0);
        
        &:hover, &:focus{
            transform: scale(1.2) translate3d( 0, 0, 0);
            .article-bg{
                // transform: scale(1.1);
            }
            button{
                // transform: scale(1.2);
                transform:translateX(-50%) skewY(-5deg) scale(1.2) translate3d( 0, 0, 0);
            }
        }

    }





    .article-bg{

        // border:5px solid $nwg-lightblue;
        // border:1px solid white;
        // border:0px solid transparent;

        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0;
        background-color: white;

        overflow:hidden;

        transition:0.1s;
        position: relative;
        
        >img{
            width:100%;
            height:auto;
            
            position: absolute;
            top:50%; left:50%;
            transform:translate(-50%, -50%);

        }
    }

    




    button{

        // border:1px solid red;
        border:0;
        position:absolute;
        left:50%;
        transform:translateX(-50%) skewY(-5deg) translate3d( 0, 0, 0);
        top:75%;
        // margin-top: -40px;
        
        width:150%;
        // max-width:150%;
        // min-width:100%;
        
        margin:0; padding:0;
        background-color: transparent;
        
    
        font-size:1.2rem;
        
        white-space:normal;
        transition:0.2s;


        >span{
            color:$nwg-darkblue;
            background-color:$nwg-lightblue;
            // line-height:1.2em;
            display:inline;
            box-decoration-break: clone;
            padding:0.2em;
        }
    
    }

    

}






























.article-detail{
// the full page.
}















.article-section{

    &.lefty{
        
    }

    &.righty{
        
    }

    &.centery{

    }
    

    &.color1{
        
    }

    &.color2{
        
    }

    &.color3{

    }


}













 
.article-section{
    // border:2px solid gold;
    overflow:hidden;
    margin:0;

    position: relative;
    display: block;
    flex-direction: column;

    // @include ptViewport(min-height, 50vh);
    // min-height:500px;  

    padding:1em;


    .article-bg{
        position:relative;
        width:100%;
        // height:20em;

        img{
            width:100%;
            height:auto;
        }
    }

    @include ptBreakpoint($sm){
        .article-bg{
            // height:30em;
        }
    }



    .article-infoblock{

        // @include nwg-skew();
        transform: skewY(-5deg) perspective(1px);
        display:flex;
        flex-direction:column;
        
        position: relative;
        z-index:5;


    }

 

        .article-headline{
            // width:60%;
            // flex:1 1 100%;

            position: relative;
            width:auto;
            max-width:70%;
            margin-top:-2.5em;
            // margin-left:0.5em;
            // margin-bottom:1em;
            z-index:5;
            
            left:2.5%;

            font-size:2.2em;
            color:white;

            >span{ 
                padding:0 0.25em;
                // font-size:1em;
                line-height:1.2em;
                display:inline;
                // font-style:normal;
                background-color:rgba($nwg-darkblue, 0.8);
                box-decoration-break: clone;
            }

        }

        

        .article-type{
            // position:relative;
            position: absolute; right:0; top:0em;
            z-index:5;

            display:flex;
            align-items:center;
            justify-content: center;

            width:70px;
            height:70px;

            background-color:rgba(0,0,0,0.8);
            color:white;
            font-size:2em;

            // top:-0.5em;
            // right:0.5em;
            // transform:translateY(-50%);

        }
        
        
        
        
        .article-summary{
            
            position:relative;
            z-index:5;
            // border:5px solid gold;        
            padding:1em 6em 2em 2em;
            
            margin-bottom:4em;
            width:95%;
            margin-left:auto;
            margin-right:auto;

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ // COLORS:
            background-color:rgba($nwg-lightblue, 0.9);
            
            h2,h3,h4{
                color:lightblue;
                // font-size:1.5em;
            }

            p{
                // color:white;
                color:$nwg-darkblue;
                font-size:1.2rem;
                line-height:2rem;

                a{
                    color:$nwg-darkblue;
                    &:hover, &:focus{
                        color:$nwg-darkblue;
                        text-decoration:underline;
                    }
                }
            }
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            
        }


    


    @include ptBreakpoint($nwg){
        
        // padding:2em 3em 5em 3em;
        padding:0;

        .article-bg{
            // position:absolute;
            // top:0; left:0; bottom:0; right:0;
            // height:100%;
            // width:100%;
            // overflow:hidden;
            z-index:1;

            img{
                width:100%;
                max-width:100%;
                height:auto;
                // position: absolute;
                // top:50%; 
                // transform:translateY(-50%);
            }
        }

        .article-infoblock{
            // border:1px solid green;
            position:absolute; 
            left:3em;
            top:50%;
            transform:translateY(-50%) skewY(-5deg) perspective(1px); 
            width:100%;           
        }
    
        .article-headline{
            margin:1em 0 0.2em 0;
            font-size:3.5em;
            left:0;            
        }

        .article-summary{
            width:50%;
            min-width:50%;
            max-width:50%;
            // left:0;
            padding-right:3em;
            margin:0 0 0 0;
            // padding:2em;
        }

        .article-type{
            width:100px;
            height:100px;
            font-size:3em;    
            top:10%;
            // transform:translateY(-50%);
            right:-80px;
        }
    
    }

}

























/* 
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
#section-news-mini-holder,
#section-article-teasers-holder{

    position: relative;
    width:100%;
    background-image:url($img-url+'track1.jpg');
    background-position:center center;
    background-size:cover;
    
    padding:3em 0;

    @include ptPos(5);
    
    // display:flex;
    // flex-direction:column;

    // @include ptBreakpoint($sm){
    //     flex-direction:row;
    // }


    @include ptBreakpoint($nwg){
        background-attachment: fixed;
    }

    &:before{
        @include ptPseudoMax();     
        background-color:rgba(0, 0, 0, 0.7);
        z-index:0;
    }

    h2{
        color:white;
        text-align:center;
        margin-top:1em;
    }

    .articles-holder{
        position: relative;
        // width: auto;
        
        display: flex;
        // justify-content: center;
        flex-wrap: wrap;
        
        width:100%;
        // border:1px solid red;

        flex-direction: column;
        align-items:center;

        @include ptBreakpoint($sm){
            flex-direction: row;  
            justify-content:center;  
        }
    }



}














































/* 

.homeplate{

    @include ptBreakpoint($nwg){

        .homeplate-articles{    
            width:30%;
            flex-direction:column;
            align-items:center;        
            margin-bottom:0;
            margin-right:5%;
            margin-top:80px;
            // border:1px solid red;
        }

        .article-something{

        }
    }
}

 */







/* 

.homeplate-articles {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 3em;
    
    .article-something {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em;
        background-color: white;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        position: relative;
    
        .btn {
            margin-top: 60%;
            font-size:1.8rem;
        }
    }

    z-index:5;

}

 */









/* 
.articles-holder{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 3em;

    .article-something {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em;
        background-color: white;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        position: relative;

        .btn {
            margin-top: 60%;
            font-size:1.2rem;
        }
    }
}


.page-header-interior{
    .article-something {
        height: 200px;
        width: 200px;
        .btn {
            font-size:1.8rem;
        }
    }
}

 */












































