












/* 
    <div id="sitenav" class="navbar navbar-default" >
      <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/img/logo-brookings-white-sm.png" alt="Brookings Anglers logo"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav" > 
                <li><a href="#company">Company</a></li>
                <li><a href="#acquisitions">Acquisitions</a></li>
                <li><a href="#development">Development</a></li>
                <li><a href="#management">Management</a></li>
                <li><a href="#brokerage">Brokerage</a></li>
            </ul>
        </div>

      </div>
    </div> 
 */


 
$nav-bg-color: #1f1f1f;

// $nav-border-color:#78756e;





#sitenav {
  z-index:99;
  margin:0;
  padding:0;

  position:fixed;
  width:100%;
  left:0; right:0; 


  transition:0.2s;

  border-radius:0;
  border:0;

  border-color:transparent;

  background-color:rgba(0,0,0,0.9);




  .js &{
    background-color:rgba(0,0,0,0);
  }


  &.bg-solid{
    background-color:rgba(0,0,0,0.9);
    div .navbar-brand{
      opacity:1;
    }
  }


  &.navopen{
    background-color:$nav-bg-color;
    .navbar-brand{
      opacity:1 !important;
    }
  }





  .navbar-header{
    .navbar-brand{
      // opacity:0;    
    }
  }





  .navbar-brand{
    opacity:1;
    transition:0.2s;

    padding:0;
    margin:0 1em 0 1em;    

    position:relative;
    display:block;
    
    width:110px;
    height:52px;  

    z-index:199;

    >img{
      position:relative;
      display:block;
      
      width:auto;
      height:52px;    
      
      z-index:199;
    }
  
  }









  .navbar-toggle{
    border:0;
    background-color:black;
    color:white;
    right:1em;

    &:hover,&:focus{
      color:black;
      background-color:white;
    }

  }







  #navbar{

    margin:0 auto 0 auto;
    
    text-transform: uppercase;

    box-shadow:initial;
    border-top:0;


    li > a{
      color:white;
      
      padding:10px;
      margin:5px 2px;
      
      border:1px solid transparent;

      &:hover, &:focus{
        // color:$apd-red;
        // border:1px solid $nav-border-color;
        background-color:gold;
      }

      &.active{
        background-color:transparent;
        // border:1px solid $nav-border-color;
      }
    }


    li.active a{
      background-color:transparent;
      // border:1px solid $nav-border-color;
    }


    @include ptBreakpoint($sm){

      ul.nav{
        // float:right;
      }

    }


    @include ptBreakpoint($md){
      // position:absolute;
      // margin:auto;
      // width:100%;

      ul.nav{
        // float: none;
        // position: relative;
        // margin: auto;
        // left: 50%;
        // transform: translateX(-50%);      

        // display:flex;
        // justify-content:center;

      }

    }

  }

}


 

 






















