/*





~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
														BASIC TYPOGRAPHY
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

 */
@font-face {
    font-family: 'bebas_neueregular';
    src: url($fonts-url + 'bebasneue-webfont.eot');
    src: url($fonts-url + 'bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-url + 'bebasneue-webfont.woff2') format('woff2'), url($fonts-url + 'bebasneue-webfont.woff') format('woff'), url($fonts-url + 'bebasneue-webfont.ttf') format('truetype'), url($fonts-url + 'bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archiveregular';
    src: url($fonts-url + 'archive-webfont.eot');
    src: url($fonts-url + 'archive-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-url + 'archive-webfont.woff2') format('woff2'), url($fonts-url + 'archive-webfont.woff') format('woff'), url($fonts-url + 'archive-webfont.ttf') format('truetype'), url($fonts-url + 'archive-webfont.svg#archiveregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
$font-header: 'archiveregular';
$font-header1: $font-header;

$font-header2: 'bebas_neueregular';
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$font-paragraph: $font-header1;

$font-body: $font-paragraph;
$font-button: $font-header1;

.font-helvetica{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    p{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}


:root {
    font-size: 12px;
    @include ptBreakpoint($sm){
        font-size:14px;
    }
    @include ptBreakpoint($md){
        font-size:16px;
    }
    @include ptBreakpoint($lg){
        font-size:18px;
    }
}

html {
    // font: 100%/1;
}

body {
    font-family: $font-body;
    // letter-spacing: 0.1em;
}

.font-header,
.font-header1 {
    font-family: $font-header;
}

.font-header2 {
    font-family: $font-header2;
}

.font-body {
    font-family: $font-body;
}

h1,
.h1 {
    font-size: 3rem;
    font-family: $font-header;
    text-transform: uppercase;
}
h2,
.h2 {
    font-size: 2.5rem;
    font-family: $font-header;
    text-transform: uppercase;
}
h3,
.h3 {
    font-size: 2rem;
    font-family: $font-header2;
    text-transform: uppercase;
}
h4,
.h4 {
    font-size: 1.5rem;
    font-family: $font-header2;
    text-transform: uppercase;
}
h5,
.h5 {
    font-size: 1.2rem;
    font-family: $font-header2;
    text-transform: uppercase;
}
h6,
.h6 {
    font-size: 0.6rem;
    font-family: $font-header2;
    text-transform: uppercase;
}

p{
    font-size: 1.2rem;
    font-family: $font-paragraph;
    letter-spacing: 0.1em;
    line-height: 1.5rem;
}

.txt-x2{
    font-size:2em;
    line-height:2em;
}


h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.05em;
    // line-height: 1em;
    margin-bottom:0.5em;
    span{
        position: relative;
        color:white;
        padding:0.5em 0.8em 0.5em 5%;
        line-height:1.7em;
        display:inline;
        background-color:rgba($nwg-darkblue, 0.8);
        box-decoration-break: clone;
    }
    small{
        position: relative;
        top:-0.5em;
    }

    &.span-bg-lightblue span {
        background-color:rgba($nwg-lightblue, 0.8);
    }
    &.span-bg-black span {
        background-color:rgba($nwg-black, 0.8);
    }
    &.span-bg-black-solid span {
        background-color:$nwg-black;
    }

    a{
        color:white;
        text-decoration:none;
        transition:0.2s;

        &:hover, &:focus{
            text-decoration:none;
            span{
                background-color:black;
            }
        }
    }
}

blockquote{
    padding: 1em 2em;
    margin: 0 0 2em;
    font-size: 1.5em;
    border-left: 5px solid $nwg-darkblue;
}


@mixin bg-white() {
    @include ptZoneColors(#fff, black, black, black);
}

@mixin bg-darkblue() {
    @include ptZoneColors($nwg-darkblue, white, white, white);
}

@mixin bg-lightblue() {
    @include ptZoneColors($nwg-lightblue, $nwg-darkblue, $nwg-darkblue, $nwg-darkblue);
}

.bg-darkblue {
    @include bg-darkblue;
}

.bg-lightblue {
    @include bg-lightblue;
}



.bg-red{
    background-color:indianred;
}

.bg-black{
    background-color:black;
}

.bg-white{
    @include bg-white();
}







.nwg-skew {
    transform: skewY($nwg-skew);
}
.nwg-skew-neg {
    transform: skewY(-$nwg-skew);
}




.txt-center{
    text-align: center;
}
.txt-left{
    text-align:left;
}
.txt-right{
    text-align:right;
}

.txt-lightblue.txt-lightblue{
    color:$nwg-lightblue;
    span{
        color:$nwg-lightblue;
    }
}
.txt-darkblue.txt-darkblue{
    color:$nwg-darkblue;
    span{
        color:$nwg-darkblue;
    }
}
.txt-highlight.txt-highlight{
    color:$nwg-highlight;
    span{
        color:$nwg-highlight;
    }
}
.txt-white.txt-white{
    color: $nwg-white;
    span{
        color: $nwg-white;
    }
    p{
        color:$nwg-white;
    }
}
.txt-black.txt-black{
    color: $nwg-black;
    span{
        color: $nwg-black;
    }
}



.txt-intro{
    // font-size:2rem;
    // line-height:2.8rem;
    // @include ptBreakpoint($md){
    //     // text-align: center;
    //     font-size:1.6rem;
    //     line-height:2.5rem;
    // }

    font-size:1.5em;
    line-height:1.5em;
    @include ptBreakpoint($md){
        font-size:2em;
        line-height:1.5em;
    }
}





.txt-shadow{
    // text-shadow:#474747 3px 5px 2px;
    @include nwg-textshadow();
}

















// ````````````````````     BUTTONS


//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//








.btn {
    @include btn();
}
.btn-lightblue, .btn-primary {
    @include btnLightBlue();
}
.btn-darkblue,.btn-secondary {
    @include btnDarkBlue();
}
.btn-black{
    @include btnBlack();
}


.btn-ghost {
    @include btnGhost();
}
.btn-ghost-darkblue {
    @include btnGhostDarkBlue();
}
.btn-ghost-lightblue {
    @include btnGhostLightBlue();
}

.btn-giant{
    font-size:1.5em;
}







.btn-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-skew {
    transform: skewY($nwg-skew);
    margin:1em;
    &.btn-center{
        transform: translateX(-50%) skewY(-5deg);
    }
}















.float-right{
    float:right;
}
.float-left{
    float:left;
}
.float-none{
    float:none;
}


span.block{
    display:block;
}
span.inline-block{
    display:inline-block;
}
